/node_modules
/storage/*.key
storage/
/storage
/storage/debugbar
/storage/framework
/storage/logs/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
__MACOSX/
.zip